{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<br><br><br><br>
<section>
    <div class="container">
        <div class="row">

            <form method="POST" action="">
                <div class="">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="{{f.id_for_label}}" class="form-label">{{f.label}}</label>
                            {{f}}
                            <div class="form-error">{{f.errors}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            
                <button type="submit" class="btn btn-primary">Зареєструвати</button>
            </form>            

        </div>
    </div>
</section>

{% endblock %}